[mysqld]
# Configuraciones de Idioma/Charset
character-set-server=latin1
collation-server=latin1_swedish_ci

# Modos y Seguridad
# sql_mode=""
default_authentication_plugin=mysql_native_password
log_bin_trust_function_creators=1
local_infile=1

# Tiempo y Logs
default-time-zone = '-05:00'
skip-log-bin
